export GITHUB_ACCESS_TOKEN=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  # thats my personal token

# export GITHUB_ACCESS_TOKEN=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  # thats the org token